<aside>
        <div id="sidebar"  class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">

           <p class="centered"><a href="profile.html" onClick="return avisar('<?php echo $accio; ?>');"><img src="assets/img/logo_projecte.png" class="img-circle" width="60"></a></p>
           <h5 class="centered">Administrador</h5>

           <li class="mt">
            <a href="menuAdministrador.php" onClick="return avisar('<?php echo $accio; ?>');">
              <i class="fa fa-dashboard"></i>
              <span>Panel de control</span>
            </a>
          </li>

          <li class="sub-menu">
            <a class="active" href="javascript:;" >
              <i class="fa fa-desktop"></i>
              <span>Tasques</span>
            </a>
            <ul class="sub">
              <li><a  href="crear_Tasca.php" onClick="return avisar('<?php echo $accio; ?>');">Crear Tasca</a></li>
              <li><a  href="buttons.html" onClick="return avisar('<?php echo $accio; ?>');">Modificar Tasca</a></li>
              <li><a  href="panels.html" onClick="return avisar('<?php echo $accio; ?>');">Assignar Tasca</a></li>
              <li><a  href="crear_TipusTasca.php" onClick="return avisar('<?php echo $accio; ?>');">Crear Tipus Tasca</a></li>
              <li><a  href="panels.html" onClick="return avisar('<?php echo $accio; ?>');" >Modificar Tipus Tasca</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" >
              <i class="fa fa-cogs"></i>
              <span>Projectes</span>
            </a>
            <ul class="sub">
              <li><a  href="crear_Projecte.php" onClick="return avisar('<?php echo $accio; ?>');">Crear Projecte</a></li>
              <li><a  href="gallery.html" onClick="return avisar('<?php echo $accio; ?>');">Modificar Projecte</a></li>
              <li><a  href="crear_Entorn.php" onClick="return avisar('<?php echo $accio; ?>');">Crear Entorn </a></li>
              <li><a  href="todo_list.html" onClick="return avisar('<?php echo $accio; ?>');">Modificar Entorn </a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" >
              <i class="fa fa-users"></i>
              <span>Treballadors</span>
            </a>
            <ul class="sub">
              <li><a  href="crear_Tasca.php" onClick="return avisar('<?php echo $accio; ?>');">Crear Treballador</a></li>
              <li><a  href="buttons.html" onClick="return avisar('<?php echo $accio; ?>');">Modificar Treballador</a></li>
              <li><a  href="panels.html" onClick="return avisar('<?php echo $accio; ?>');">Baixa Treballador</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" >
              <i class="fa fa-book"></i>
              <span>Usuari</span>
            </a>
            <ul class="sub">
              <li><a  href="logout.php" onClick="return avisar('<?php echo $accio; ?>');">Logout</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>